{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/category.css' %}">
    <title>Category</title>
</head>
<body>

    <footer class="footer">
        <div class="footer-container">
            <button class="footer-buttons">HOME</button>
            <button class="footer-buttons">USER</button>
            <button class="footer-buttons">ABOUT</button>
            <button class="footer-buttons">CONTACT</button>
      </footer>

    <div class="category-container">
        <div class="category">Category</div>
    </div>

    <div class="category-topic">
        <div class="topic">Gandcrab</div>
        <div class="topic">Database</div>
        <div class="topic">Digital Forensic</div>
        <div class="topic">Blockchain</div>
        <div class="topic">Cryptography</div>
    </div>

</body>
</html>