html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

.footer {
    background-color: black;
    height: 61px;
    margin-bottom: 30px;
}

.footer-buttons {
    background-color: black;
    color: white;
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 20px 45px;
    margin-left: 0;
    margin-right: auto;
    border: none;
    cursor: pointer;
}

.footer-buttons:hover {
    background-color: blanchedalmond;
    color:black;
}

